h3 Comments
form(action=`/article/${article._id}/comment`, method="POST")
    input(name="name", type="text", placeholder="Name", required=true)
    input(name="email", type="email", placeholder="Email", required=true)
    br
    textarea(name="body", placeholder="comment here...", required=true)
    br
    button(type="submit") Submit

    if errors
        ul#errors
            each error in errors
                li(style="color: red")= error.msg

    each comment in article.comments
        p 
            strong #{comment.name} :- 
            | #{comment['escaped-comment-body']}